<!DOCTYPE html>
<html>
<head>
  <title>Bog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Bog Adventure App</h1>
<p><strong>Navigation:</strong> <a href='/index'>Home</a> | <a href='/creatures'>Creatures</a> | <a href='creatures/new'>Add a Creature</a> | <a href='/google'>Google</a></p>

<hr>
<br>
<%= yield %>
<br>
<hr>

</body>
</html>
