<div>

  <h2>Featured Bog Creatures</h2>
  <p>Hello, adventurer! Please click above to navigate around the Bog Adventure app. To view bog creatures, simply click the Creatures link above.</p>

</div>

