<h2>Add a new Creature</h2>

<%= form_for @creature do |f| %>
  <p>
  <div class='form-group'>
    <%= f.text_field :name, :placeholder => "Creature name" %>
  </div>
  <div class='form-group'>
    <%= f.text_area :desc, :placeholder => "Describe your bog creature", class: "text-area" %>
  </div>
  </p>
  <p>

    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>