<h2>Add a new Creature</h2>

<%= form_for @creatures do |f| %>
  <p>
    <%= f.text_field :name, :placeholder => "Creature Name" %>
    <%= f.text_field :desc, :placeholder => "Creature Description" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>